body {
    background-image: url("assets/bg-2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=99972), auto;
}

.welcome {
    cursor: inherit;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Sono', sans-serif;
    text-align: center;
    position: relative;
    margin-top: 20vh;
    color: rgb(233, 233, 233);
    text-shadow: 4px 2px 2px #2e2e2e;
}

.widgets {
    position: relative;
    display: flex;
    justify-content: center;
}

.clock {
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Sono', sans-serif;
    color: rgb(189, 189, 189);
    text-shadow: 4px 2px 2px #2e2e2e;
    font-size: 60px;
    letter-spacing: 7px;
}

.box {
    cursor: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

.button-container {
    position: relative;
    margin-inline-start: 5vw;
    margin-inline-end: 5vw;
}

.button-pink {
    position: relative;
    
}

button {
    cursor: inherit;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Sono', sans-serif;
    font-size: 12px;
    margin-top: 20px;
    min-width: 15vw;
    max-width: 15vw;
}

a {
    text-decoration: none;
    outline: none;
}

button.button-pink {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-pink::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-pink:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

button.button-pink:hover::before {
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

button.button-pink:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

button.button-pink:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}