@font-face {
    font-family: Kafka;
    src: url('assets/kafka.ttf');
}

@font-face {
    font-family: Type;
    src: url('assets/sunflower.otf');
}

body {
    background: url(assets/2.png);
    background-size: cover;
    cursor: url(assets/cursor.png);
}

a:link, a:visited { 
    color: black;
    text-decoration: none;
    cursor: auto;
  }
  
  a:link:active, a:visited:active { 
    color: black;
  }

#name {
    font-family: Kafka, sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 10vh;
    left: 5vw;
}

#name-text {
    position: relative;
    top: -5vh;
    white-space: pre-wrap;
}

#commlab {
    font-family: Kafka, sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 15vh;
    right: 4vw;
}

#commlab-text {
    position: relative;
    top: -5vh;
    white-space: pre-wrap;
}

#blog {
    font-family: Kafka, sans-serif;
    font-size: 2vw;
    position: absolute;
    bottom: 6vh;
    left: 20vw;
}